*{
    background: #1b1b1b;
}

#onurFoto{
    width: 1900px;
    height: 917px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

#onurFoto2{
    width: 1900px;
    height: 917px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

#onurFoto3{
    width: 1900px;
    height: 917px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

#onurFoto4{
    width: 1900px;
    height: 917px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}