.container {
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    font-size: 24px;
    padding: 25px;
}

.parallax{
    background: url('img/kilise.jpg')no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
