@font-face{
    src: url(fonts/teenwolf2.ttf);
    font-family: 'tw';
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

#diskutu{
    width: auto;
    height: 1500px;
}

#header{
    padding: 1px;
    background: #1b1b1b;
    width: auto;
    height: 150px;
}

#logo{
    margin-left: 50px;
    margin-top: 7px;
    float: left;
}

#oyuncular{
    width: 1390px;
    padding: 1px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 155px;
}

.listeLink{
    text-decoration: none;
    list-style-type: none;
    color: rgb(146, 0, 0);
    font-size: 35px;
    margin-left: 50px;
    font-family: tw;
}

.listeEleman{
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}

#icerik{
    width: auto;
    height: 1350px;
    padding: 1px;
}

.solScott{
    margin-top: 10px;
    width: 1000px;
    height: 380px;
    border-bottom: solid 2px black;
}

#scottFoto{
    margin-top: -20px;
    float: left;
}

#scottBilgi{
    width: 700px;
    height: 380px;
    margin-left: 300px;
    padding: 1px;
}

#scottBilgiYazi{
    font-size: 30px;
    font-family: tw;
    margin-top: 50px;
}

.sagStiles{
    margin-left: 900px;
    margin-top: 10px;
    width: 1000px;
    height: 380px;
    border-bottom: solid 2px black;
}

#stilesFoto{
    margin-top: -20px;
    margin-left: 35px;
    float: left;
}

#stilesBilgi{
    width: 700px;
    height: 380px;
    margin-left: 300px;
    padding: 1px;
}

#stilesBilgiYazi{
    font-size: 30px;
    font-family: tw;
    margin-top: 80px;
    margin-left: 15px;
}

.solLydia{
    margin-top: 10px;
    width: 1000px;
    height: 380px;
    border-bottom: solid 2px black;
}

#lydiaFoto{
    margin-top: -20px;
    float: left;
}

#lydiaBilgi{
    width: 700px;
    height: 380px;
    margin-left: 300px;
    padding: 1px;
}

#lydiaBilgiYazi{
    font-size: 30px;
    font-family: tw;
    margin-top: 87px;
}
