@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

#header{
    background: #1b1b1b;
    width: auto;
    height: 80px;
    padding: 10px 0;
}

.logo{
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    float: left;
}


.navbuton{
text-decoration: none;
float: left;
margin-left: 20px;
margin-top: 8px;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-size: 20px;
color: white;
padding: 10px;
margin-left: 40px;
border: 1px;
border-width: 1px;
}

.navbuton:hover{
    background: rgb(96, 206, 32);
}

#icerik{
    background: rgb(12, 18, 34);
    width: 1290px auto;
    height: 1000px;
    margin: 10px;
}

.icerik1{
    background: #1b1b1b;
    width: 600px;
    height: 300px;
    border: solid 2px  rgb(96, 206, 32);
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    float: left;
}

#f1{
    width: 500px;
    height: 225px;
}

#f2{
    width: 500px;
    height: 225px;
}

#f3{
    width: 500px;
    height: 225px;
}

#f4{
    width: 500px;
    height: 225px;
}

#baslik1{
    color: #fff;
    margin-top: -40px;
    text-align: left;
    margin-left: 15px;
}

#baslik2{
    color: #fff;
    margin-top: -45px;
    text-align: left;
    margin-left: 65px;
}

#baslik3{
    color: #fff;
    margin-top: -45px;
    text-align: left;
    margin-left: 15px;
}

#baslik4{
    color: #fff;
    margin-top: -45px;
    text-align: left;
    margin-left: 15px;
}

.baslikyazi{
    text-align: center;
}

.resim1{
    width: 500px;
    height: 225px;
    margin-left: 50px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
}


.resim1 > img{
    display: block;
}

.resim1:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
}
