@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 1px;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

#header{
    background: #1b1b1b;
    width: auto;
    height: 80px;
    padding: 10px 0;

}

.logo{
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    float: left;
}


.navbuton{
text-decoration: none;
float: left;
margin-left: 20px;
margin-top: 8px;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-size: 20px;
color: white;
padding: 10px;
margin-left: 40px;
border: 1px;
border-width: 1px;
}

.navbuton:hover{
    background: rgb(96, 206, 32);
}

#icerik{
    background: royalblue;
    width: 1290px auto;
    height: 1000px;
    margin: 10px;
}

.icerik1{
    background: rgb(96, 206, 32);
    width: 300px;
    height: 300px;
    margin-left: 16px;
    margin-top: 30px;
    cursor: pointer;
    float: left;
}

#f1{
    width: 200px;
    height: 200px;
    margin-left: 45px;
    margin-top: 20px;
}
